{% extends 'base.html.twig' %}
{% block body %}
	<h1>Overzicht Klanten</h1>

	{% for klant in klanten %}
	<div>
	<span>
		<a href="{{ path('wijzigenklant',{'klantnummer':klant.klantnummer}) }}">{{ klant.voornaam }} {{ klant.achternaam }} </a>
	</span>
	</div>
	{% endfor %}

{% endblock %}